html body {
    padding-top: 65px;
}

.header{
    position: fixed;
    left:0;
    right:0;
    top:0;
}

.home {
    display: flex;
}

.posts {
    flex: 1;
    margin-right: 250px;
}

@media (max-width: 800px) {
    .home{
        display: flex;
        flex-direction: column;
    }
    .posts {
        display: flex;
        margin-right: 0;
    }
}

.vinyl-image {
    max-height: 50px;
}

.avatar-logo {
    max-height: inherit;
    max-width: 256px;
}